pydantic
django
python-dotenv
psycopg2-binary
requests
gunicorn
huey
redis
sqlalchemy
pytz
django-bootstrap-v5
django-crispy-forms
crispy-bootstrap5
python-dateutil
coverage
selenium
pandas
scipy
django-debug-toolbar
django-admin-list-filter-dropdown
mock
geopandas
folium
polyline
webcolors
