{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}Get strava data{% endblock title %}

{% block content %}
{% autoescape off %}
<h1>Strava Admin</h1>

{% if strava_subscribed %}
<p class="ok">Strava is subscribed. <a href="{% url 'strava-subscribe' 0 %}?next=/">Unsubscribe</a></p>
{% else %}
<p class="highlight">Strava is not subscribed. <a href="{% url 'strava-subscribe' 1 %}?next=/">Subscribe</a>
</p>
{% endif %}

<p>
{% bootstrap_button "Run start time update" href="strava-start-time-sync" button_class="btn btn-primary" %}
</p>

<table class="standard">
    <tr>
        <th>User</th>
        <th>Token</th>
        <th>Num Sessions</th></td>
        <th>Import</th>
        <th>Update</th>
    </tr>
{% for strava_user in strava_users %}
    <form id="admin_{{ strava_user.user.username }}">
        <tr class="standard {% cycle 'altrow' '' %} clickablerow">
            <td>{{ strava_user.user.username.capitalize }}</td>
            <td>
                {% if strava_user.strava_auth %}
                    {{ strava_user.strava_auth.status_string }}
                {% else %}
                    None
                {% endif %}
            </td>
            {% if strava_user.strava_auth and not strava_user.needs_authorization %}
                <input type="hidden" name="username" value="{{ strava_user.user.username }}">
                <td>
                    <input type="number" max="200" name="num_sessions" value="5" class="num_sessions">
                </td>
                <td>
                    <button
                        type="button"
                        hx-post="{% url 'admin-import-data' %}"
                        hx-trigger="click"
                        hx-target="#admin_results"
                        hx-include="#admin_{{ strava_user.user.username }}"
                    >
                        Import
                    </button>
                </td>
                <td>
                    <button
                        type="button"
                        hx-post="{% url 'parse-data' %}"
                        hx-trigger="click"
                        hx-target="#admin_results"
                    >
                        Parse Data
                    </button>
                </td>
                <td><button type="submit" name="action" value="update_athlete">Update Athlete</button></td>
                {% csrf_token %}
            {% else %}
                <td></td><td></td><td></td><td></td>
            {% endif %}
        </tr>
    </form>
{% endfor %}
</table>

<div id="admin_results">

</div>

{% if imported_sessions %}
    <p>Imported {{ imported_sessions|length }} sessions {% if days_back > 1 %} in last {{ days_back }} days{% else %} since yesterday{% endif %}.</p>
    <table class="import-table">
        <tr><th>Date</th><th>Discipline</th><th>Duration</th><th>Imported at</th></tr>
        {% for session in imported_sessions %}
            <tr>
                <td>{{ session.date|date:"d-m-y" }}</td>
                <td>{{ session.discipline }}</td>
                <td>{{ session.formatted_duration }}</td>
                <td>{{ session.strava_updated|date:"d-m-y H:i:s" }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No sessions imported</p>
{% endif %}

{% endautoescape %}

{% endblock content %}

{% block scripts %}

    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>

{% endblock scripts %}

