{% extends 'base.html' %}

{% block title %}Strava Authorization{% endblock title %}

{% block sidenav %}
{% endblock sidenav %}

{% block content %}

<h1>Strava authorization</h1>
<p>Training Log does not have authorization to import your activities from strava.</p>
<p>Click <a href="{{authorization_url}}">here</a> to authorize the app to import your activities from strava. This
  will do a one-time import and enable automatic importing of new activities.</p>
<p><strong>Note: Access to view data about activities is required to enable automatic importing.</strong></p>

{% endblock content %}

