{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
      {{ page_title|default:"Untitled Page" }}
      {% endblock title %}
    </title>
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="wrapper">

    <aside id="rightsidebar">
      <nav id="nav">
        <ul>
          <li>
            {% if user.is_authenticated %}
            Hello, {{ user.username }}. <a href="{% url 'logout' %}?next=/">Logout</a>
            {% else %}
            Not logged in. <a href="{% url 'login' %}?next=/">Log in</a>
            {% endif %}
          </li>
          <li><a href="{% url 'all-stats' %}">Training Overview</a></li>
          <li><a href="{% url 'new-session' %}">Add training</a></li>
          <li><a href="{% url 'strava-index' %}">Strava Data</a></li>
          {% block sidenav %}
          {% endblock sidenav %}
        </ul>
      </nav>
    </aside>
    <section id="main">
      {% block content %}
      <p>Placeholder text in base template. Replace with page content.</p>
      {% endblock content %}
    </section>
    <footer id="footer">Copyright &copy;
      <script type="text/JavaScript">
      document.write(new Date().getFullYear());
      </script> TrainingLog
    </footer>
    </div>
  </body>
</html>