{% extends "base.html" %}

{% block title %}User Stats{% endblock title %}

{% block content %}
<h1>Overall Stats</h1>
<strong>
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ period }}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for period_option in period_options %}
            <a class="dropdown-item" href="{% url 'all-stats' period_option.value %}">{{ period_option.str }}</a>
        {% endfor %}
    </div>
</strong>



<table style="border-collapse:collapse">
  <tr class="stats">
    <th>Stat</th>
    {% for player in players %}
      <th><a class="header-link" href="{% url 'session-list' player %}">{{ player }}</a></th>
    {% endfor %}
  </tr>
  <tr class="stats">
      <td><strong>Ironman status</strong></td>
      {% for is_ironman in is_ironman_status %}
        {% if is_ironman %}
            <td class="ironman-column">IRONMAN</td>
        {% else %}
            <td>Training</td>
        {% endif %}
      {% endfor %}
  </tr>
  {% for stat_name, stats_list in stats.items %}
  <tr class="stats {% cycle 'altrow' '' %}">
    <td><strong>{{ stat_name }}</strong></td>
    {% for stat in stats_list %}
      <td>{{ stat }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock content %}
