{% extends "base.html" %}

{% block title %}User Stats{% endblock title %}

{% block content %}
<h1>Overall Stats</h1>

    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Period
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'all-stats' 'week' %}">Last week</a>
        <a class="dropdown-item" href="{% url 'all-stats' 'month' %}">Last month</a>
        <a class="dropdown-item" href="{% url 'all-stats' 'all' %}">All</a>
    </div>

<table style="border-collapse:collapse">
  <tr class="stats">
    <th>Stat</th>
    {% for player in players %}
      <th>{{ player }}</th>
    {% endfor %}
  </tr>
<!--    <th>Training Type</th>-->
  {% for stat_name, stats_list in stats.items %}
  <tr class="stats {% cycle '' 'altrow' %}">
    <td><strong>{{ stat_name }}</strong></td>
    {% for stat in stats_list %}
      <td>{{ stat }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock content %}
