{% extends "base.html" %}

{% block title %}Graphs{% endblock title %}

{% block content %}

<div class="graphDiv">
  <canvas id="totalHoursTrainedGraph" class="graph"></canvas>
  <canvas id="weeklyHoursTrainedGraph" class="graph"></canvas>
</div>

{% endblock content %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

{% load static %}
<script src="{% static 'js/graphs.js' %}"> </script>

{% autoescape off %}
<script id="totalHoursTrainedScript">

var totalHoursTrainedGraph = createChart({canvasId: 'totalHoursTrainedGraph', all_data: {{ graph_data.total_hours_trained }},
  settings: {{ settings.total_hours_trained }}});
</script>

<script id="weeklyHoursTrainedScript">
var weeklyHoursTrainedGraph = createChart({canvasId: 'weeklyHoursTrainedGraph', all_data: {{ graph_data.weekly_hours_trained }},
  settings: {{ settings.weekly_hours_trained }}});
</script>

{% endautoescape %}



{% endblock scripts %}