{% extends "base.html" %}

{% block title %}Session{% endblock title %}

{% block content %}
<h1>Session Details</h1>

<table class="quote">
  <tr><td>Date:</td><td>{{ session.date }}</td></tr>
  <tr><td>Discipline:</td><td>{{ session.discipline }}</td></tr>
  <tr><td>Duration:</td><td>{{ session.total_duration }}</td></tr>
  <tr><td>Distance:</td><td>{{ session.distance }}</td></tr>
  <tr><td>Training Type:</td><td>{{ session.training_type }}</td></tr>
</table>
<p><a href="../sessions">Back to training overview</a></p>

{% endblock content %}
