{% extends "base.html" %}

{% block title %}Session{% endblock title %}

{% block content %}
<h1>Session Details</h1>

<table class="session">
  <tr class="sessionhdr"><th colspan="2">{{ session.discipline }} session</th></tr>
  {% if session.strava_id %}
    <tr><td>Strava</td><td><a href="{{ session.strava_link }}" target="_blank">Click Here</a></td></tr>
  {% endif %}
  <tr><td>Date</td><td>{{ session.date }}</td></tr>
  <tr><td>Duration</td><td>{{ session.formatted_duration }}</td></tr>
  <tr><td>Distance</td><td>{{ session.formatted_distance }}</td></tr>
  <tr><td>Avg Heart Rate</td><td>{{ session.average_hr }}</td></tr>
  <tr><td>Max Heart Rate</td><td>{{ session.max_hr }}</td></tr>
  <tr><td>Avg Speed</td><td>{{ session.formatted_average_speed }}</td></tr>
  <tr><td>Max Speed</td><td>{{ session.formatted_max_speed }}</td></tr>
</table>
<div style="margin-top: 20px;"></div>
<p><a href="../sessions/{{ session.user.username }}">Back to training overview</a></p>
<div style="margin-top: 50px;"></div>



<!-- Move this to header?-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>


{% load static %}
<script src="{% static 'js/graphs.js' %}"> </script>

{% autoescape off %}
{% for session_zone in session_zones %}
<h2>{{ session_zone.get_zone_type_display }} zones</h2>
<div class="graphDiv">
  <canvas id="zone_bars_{{ session_zone.id }}" class="graph"></canvas>
</div>
<script id="zonesScript_{{ session_zone.id }}">
var totalHoursTrainedGraph = createHorizontalBarChart({canvasId: 'zone_bars_{{ session_zone.id }}', all_data: {{ session_zone.zones_data }} });
</script>
<div style="margin-top: 50px;"></div>

{% endfor %}
{% endautoescape %}


{% endblock content %}
